.cabecalho-home{
    background: url(../img/cabecalho-home-bg.jpg) black no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 50px 0;
}
.cabecalho-home__titulo{
    font-size: 40px;
    margin-bottom: 0px;


}
.cabecalho-home__role{
    display: none;
}